.skillsChart {
      padding-right: 5%;
      text-align: justify;
      font-size: 18px;
      font-family: Arial, Helvetica, sans-serif;  
      margin-top: 5%;
}

.title {
      font-size: 25px;
      color: #3abac9;
}